<div class="dashboard">

  <div class="sidebar">
    <div>
      <div class="sidebar-element">
          <h1 class="name">My Lists</h1>
      </div>
      <div class="sidebar-element">
        <h1 class="name">Activity Feed</h1>
      </div>
    </div>
    <div class="sidebar-element">
      <h1 class="name">Archived Lists</h1>
    </div>
  </div>
  <div class="content-dashboard">
    <div class="dashboard-grid-header-wrapper">
      <div class="dashboard-grid-header">
        <div class="breadcrumb">
        <span font-weight="semiBold" class="dashboard-title">My Lists of Flashcards</span>
        </div>

      </div>
    </div>

    <div class="rightPanel">
      <div class="right-control-panel">
        <div class="rightPanel-buttons">
          <div id="loom-dashboard-record-button">
            <%= link_to "Add A Flashcard", new_list_path, class: 'button-new-list' %>
          </div>
         </div>
        </div>
    </div>
    <div class="grid-wrapper">
      <div class="list-grid">
        <div class="list-grid-header">
          <span class="list-header">All Lists</span>
        </div>
      </div>
    </div>
  </div>

</div>




