// Define variables for your color scheme

// For example:
$red:  #FF325E ;
$red2: #f32163;
$blue: #167FFB;
$yellow: #fafa37;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$main: #FEEFC7;
$violet: #853481;
$fallgreen: #ECE6B7;
$black-text: #2b2d36;

