.black-nav-button {
  width: 130px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-family: 'Jost';
}
.practice-button {
  color: white;
  background-color: #FF5645!important;
  &:hover {
    background-color: #fff!important;
    color: #FF5645;
    border: 1px solid #FF5645;
  }
}
.log-button {
  min-width: 183px;
  margin-bottom: 30px;
  background-color: #FF5645;
  color: #fff;
  height: 62px;
  font-size: 20px;
  &:hover {
    background-color: #d53e4b;
    color: #fff;
  }
}

.bouton-text-nav {
  color: #454A51;
  font-family: "Jost";
  font-size: 14px;
  height: auto;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 40px;
  &:hover {
    text-decoration: none;
    color: #2b2d36;
  }
  &:hover:after {
      content: '';
      width: calc(100% + 20px);
      height: 2px;
      background-color: #f4364c;
      position: absolute;
      right: -10px;
      bottom: -30px;
  }
}

.button-new-list {
  border: 1px solid rgba(81,108,240,0.5);
  padding: 10px 20px;
  box-sizing:border-box;
  color:rgb(81, 108, 240);
  font-size:14px;
  font-stretch:100%;
  font-style:normal;
  font-weight:500;
  font-family: "Jost";
  height:40px;
  justify-content:center;
  letter-spacing:normal;
  line-height:22.12px;
  pointer-events:auto;
  text-align:center;
  text-decoration: none;
  text-transform:none;
  transition-delay:0s, 0s;
  transition-duration:0.6s, 0.6s;
  transition-property:background-color, border-color;
  transition-timing-function:ease, ease;
  white-space:nowrap;
  width:100%;

  &:hover {
    color: #fff;
    background-color: rgb(81,108,240);
    text-transform: none;
    text-decoration: none;

  }
}


.list-header {
  box-sizing:border-box;
  color: #2b2d36;
  display:block;
  font-family:"Jost";
  font-size:18px;
  font-weight:700;
  height:28px;
  line-height:28.08px;
  text-rendering:optimizelegibility;
  width:804px;
  -webkit-font-smoothing:antialiased;
}
