.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-logo img {
  width: 30px;
}
.container-navbar {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  box-shadow: rgba(81, 107, 152, 0.16) 0px 2px 4px 0px;
  box-sizing: border-box;
}
